.search {
  &__radio{
    text-align: center;
    margin-bottom: 5px;
  }

  &__list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item{
    display: flex;
    justify-content: center;
    min-width: 60px;

    padding: 5px 10px;
    margin: 5px;

    border: 1px solid #007bff;
    border-radius: 4px;

    cursor: pointer;

    &:hover{
      background-color: #ccc;;
    }
  }

  &__btn-edit{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #007bff;

    padding: 1px;
    border-radius: 4px;
    cursor: pointer;

    &:hover svg{
      transform: rotate(15deg);
    }
  }

  &__btn-del{
    margin-left: 10px;
    cursor: pointer;
  }
}

.full{
  width: 50%;
  position: absolute;

  &__list{
    list-style: none;
  }

  &__item{
    display: flex;
    justify-content: space-between;
  }

  &__content{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  }

  &__del {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #c90303;
  }
}

.modal{
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  &__content {
    position: relative;
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 28px;
    height: 28px;
    padding: 6px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:hover{
      fill: #c90303;
      border: 1px solid #c90303;
    }
  }
}


.radio {
  &__group{
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  &__button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    outline: none;

    &:hover{
      background-color: #ccc;
      border-color: #007bff;
      color: #007bff;
    }

    & input[type="radio"] {
      display: none;
    }
  }
}

.selected {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
