.search {
  &__list{
    display: flex;
    list-style: none;
  }
  &__item{
    display: flex;
    justify-content: center;
    min-width: 60px;

    padding: 5px 10px;
    margin: 5px;

    border: 1px solid #02f102;
    border-radius: 4px;

    cursor: pointer;
  }

  &__btn-edit{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1px;
    border-radius: 4px;
    cursor: pointer;
  }

  &__btn-del{
    margin-left: 10px;
    cursor: pointer;
  }
}
